@model DiscImageChef.CommonTypes.Metadata.Chs

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Chs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cylinders" class="control-label"></label>
                <input asp-for="Cylinders" class="form-control" />
                <span asp-validation-for="Cylinders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heads" class="control-label"></label>
                <input asp-for="Heads" class="form-control" />
                <span asp-validation-for="Heads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sectors" class="control-label"></label>
                <input asp-for="Sectors" class="form-control" />
                <span asp-validation-for="Sectors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
