[submodule "CICMMetadata"]
	path = CICMMetadata
	url = https://github.com/claunia/CICMMetadata.git
[submodule "Aaru.Server.Old/wwwroot"]
	path = Aaru.Server.Old/wwwroot
	url = https://github.com/aaru-dps/Aaru.Documentation
	branch = 5.3
