@using DiscImageChef.Decoders.SCSI
@using DiscImageChef.Server.Core
@model DiscImageChef.CommonTypes.Metadata.Scsi

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Details.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2020 Natalia Portillo
    // ****************************************************************************/
}
<div>
    <h4>SCSI INQUIRY - ID = @Model.Id</h4>
    <hr />
    @Html.Raw(Html.EncodedMultiLineText(Inquiry.Prettify(Model.InquiryData)))
</div>
<div>
    <form asp-action="Compare">
        <input type="hidden" asp-for="Id" />
        Compare to:
        <input name="RightId" type="number" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <input class="btn btn-primary" type="submit" value="Compare" />
    </form>
</div>