@model DiscImageChef.CommonTypes.Metadata.Scsi

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Edit.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2019 Natalia Portillo
    // ****************************************************************************/
}
<h4>Scsi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InquiryData" class="control-label"></label>
                <input asp-for="InquiryData" class="form-control" />
                <span asp-validation-for="InquiryData" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SupportsModeSense6" /> @Html.DisplayNameFor(model => model.SupportsModeSense6)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SupportsModeSense10" /> @Html.DisplayNameFor(model => model.SupportsModeSense10)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SupportsModeSubpages" /> @Html.DisplayNameFor(model => model.SupportsModeSubpages)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ModeSense6Data" class="control-label"></label>
                <input asp-for="ModeSense6Data" class="form-control" />
                <span asp-validation-for="ModeSense6Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeSense10Data" class="control-label"></label>
                <input asp-for="ModeSense10Data" class="form-control" />
                <span asp-validation-for="ModeSense10Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeSense6CurrentData" class="control-label"></label>
                <input asp-for="ModeSense6CurrentData" class="form-control" />
                <span asp-validation-for="ModeSense6CurrentData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeSense10CurrentData" class="control-label"></label>
                <input asp-for="ModeSense10CurrentData" class="form-control" />
                <span asp-validation-for="ModeSense10CurrentData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeSense6ChangeableData" class="control-label"></label>
                <input asp-for="ModeSense6ChangeableData" class="form-control" />
                <span asp-validation-for="ModeSense6ChangeableData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeSense10ChangeableData" class="control-label"></label>
                <input asp-for="ModeSense10ChangeableData" class="form-control" />
                <span asp-validation-for="ModeSense10ChangeableData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
