@model UsbVendor

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" name="viewport" />
    <title>Edit</title>
</head>
<body>
<h4>UsbVendor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <input asp-for="VendorId" class="form-control" />
                <span asp-validation-for="VendorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedWhen" class="control-label"></label>
                <input asp-for="AddedWhen" class="form-control" />
                <span asp-validation-for="AddedWhen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedWhen" class="control-label"></label>
                <input asp-for="ModifiedWhen" class="form-control" />
                <span asp-validation-for="ModifiedWhen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>