@model ChsModelForView

@{
    ViewBag.Title = "Consolidate duplicate CHS";
    Layout = "_Layout";
}
<h2>Consolidate duplicate CHS</h2>
<div>
    The following CHS have duplicates.
    <table class="table">
        <thead>
        <tbody>
        @foreach(ChsModel item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cylinders)/@Html.DisplayFor(modelItem => item.Heads)/@Html.DisplayFor(modelItem => item.Sectors)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    Do you want to remove the duplicates?
    <form asp-action="Consolidate" enctype="multipart/form-data">
        <input asp-for="Json" name="models" type="hidden"/>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        <input class="btn btn-danger" type="submit" value="Consolidate"/>
    </form>
</div>