@model IdHashModelForView

@{
    ViewBag.Title = "Consolidate duplicate ATAs";
    Layout = "_Layout";
}
<h2>Consolidate duplicate ATAs</h2>
<div>
    The following ATA IDENTIFY DEVICE have duplicates.
    <table class="table">
        <thead>
        <tbody>
        @foreach(var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    Do you want to remove the duplicates?
    <form asp-action="Consolidate" enctype="multipart/form-data">
        <input type="hidden" asp-for="Json" name="models" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        <input class="btn btn-danger" type="submit" value="Consolidate" />
    </form>
</div>