@using Aaru.Server.Core
@using Aaru.Decoders.ATA
@model Aaru.CommonTypes.Metadata.Ata

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Aaru Server";
}
@{
    // /***************************************************************************
    // Aaru Data Preservation Suite
    // ----------------------------------------------------------------------------
    //
    // Filename       : Delete.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : Aaru Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2021 Natalia Portillo
    // ****************************************************************************/
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ATA IDENTIFY DEVICE / ATAPI IDENTIFY PACKET DEVICE - ID = @Model.Id</h4>
    <hr />
    @Html.Raw(Html.EncodedMultiLineText(Identify.Prettify(Model.Identify)))
</div>
<div>
    <form asp-action="Delete">
        <input asp-for="Id" type="hidden" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        <input class="btn btn-danger" type="submit" value="Delete" />
    </form>
</div>