@model DiscImageChef.CommonTypes.Metadata.MmcSd

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Edit.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2019 Natalia Portillo
    // ****************************************************************************/
}
<h4>MmcSd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CID" class="control-label"></label>
                <input asp-for="CID" class="form-control" />
                <span asp-validation-for="CID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CSD" class="control-label"></label>
                <input asp-for="CSD" class="form-control" />
                <span asp-validation-for="CSD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OCR" class="control-label"></label>
                <input asp-for="OCR" class="form-control" />
                <span asp-validation-for="OCR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SCR" class="control-label"></label>
                <input asp-for="SCR" class="form-control" />
                <span asp-validation-for="SCR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtendedCSD" class="control-label"></label>
                <input asp-for="ExtendedCSD" class="form-control" />
                <span asp-validation-for="ExtendedCSD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
