@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DiscImageChef";
}
@{
    // /***************************************************************************
    // The Disc Image Chef
    // ----------------------------------------------------------------------------
    //
    // Filename       : Index.cshtml
    // Author(s)      : Natalia Portillo <claunia@claunia.com>
    //
    // Component      : DiscImageChef Server.
    //
    // --[ License ] --------------------------------------------------------------
    //
    //     This library is free software; you can redistribute it and/or modify
    //     it under the terms of the GNU Lesser General Public License as
    //     published by the Free Software Foundation; either version 2.1 of the
    //     License, or (at your option) any later version.
    //
    //     This library is distributed in the hope that it will be useful, but
    //     WITHOUT ANY WARRANTY; without even the implied warranty of
    //     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    //     Lesser General Public License for more details.
    //
    //     You should have received a copy of the GNU Lesser General Public
    //     License along with this library; if not, see <http://www.gnu.org/licenses/>.
    //
    // ----------------------------------------------------------------------------
    // Copyright © 2011-2019 Natalia Portillo
    // ****************************************************************************/
}
<a asp-action="Index" asp-controller="Atas">ATA IDENTIFY DEVICE / ATAPI IDENTIFY PACKET DEVICE responses</a>
<a asp-action="Index" asp-controller="Chs">Cylinders / Heads / Sectors triplets</a>
<a asp-action="Index" asp-controller="BlockDescriptors">SCSI Streaming Devices Block Descriptors</a>
<a asp-action="Index" asp-controller="Commands">Commands used</a>
<a asp-action="Index" asp-controller="CompactDiscOffsets">Compact Disc Offsets</a>
<a asp-action="Index" asp-controller="DeviceStats">Device statistics</a>
<a asp-action="Index" asp-controller="Filesystems">Filesystems detected</a>
<a asp-action="Index" asp-controller="Filters">Filters detected</a>
<a asp-action="Index" asp-controller="FireWires">FireWire devices reported</a>
<a asp-action="Index" asp-controller="MediaFormats">Media image formats detected</a>
<a asp-action="Index" asp-controller="Medias">Media types detected</a>
<a asp-action="Index" asp-controller="Medias" asp-route-real="true">Media types detected in real devices</a>
<a asp-action="Index" asp-controller="Medias" asp-route-real="false">Media types detected in images</a>
<a asp-action="Index" asp-controller="Mmc">MODE SENSE page 2Ah responses</a>
<a asp-action="Index" asp-controller="MmcFeatures">MMC GET FEATURES responses</a>
<a asp-action="Index" asp-controller="MmcSds">MultiMediaCard / SecureDigital registers</a>
<a asp-action="Index" asp-controller="OperatingSystems">Operating systems detected</a>
<a asp-action="Index" asp-controller="Partitions">Partitioning schemes detected</a>
<a asp-action="Index" asp-controller="Pcmcias">PCMCIA card registers</a>
<a asp-action="Index" asp-controller="ScsiModes">SCSI MODE SENSE responses</a>
<a asp-action="Index" asp-controller="ScsiPages">SCSI MODE SENSE pages</a>
<a asp-action="Index" asp-controller="Scsis">SCSI INQUIRY responses</a>
<a asp-action="Index" asp-controller="Sscs">SCSI STREAMING COMMANDS limits</a>
<a asp-action="Index" asp-controller="Versions">DiscImageChef versions used</a>